.auth-main {
  background: #efefef;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 90%;
  max-width: 1100px;
  background: white;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* LEFT SIDE */
.auth-left {
  flex: 1.1;
  background: #2db36b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 200px 200px 0;
  padding: 40px;
}

.image-area {
  width: 85%;
  height: 70%;
  background: #dedede;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-img {
  font-size: 80px;
  opacity: 0.5;
}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  padding: 50px;
}

.auth-title {
  font-size: 32px;
  font-weight: 700;
}

.auth-subtitle {
  color: #888;
  font-size: 14px;
}

/* INPUT STYLE */
.input-group-custom {
  position: relative;
}

.input-group-custom input {
  height: 48px;
  padding-left: 20px;
  padding-right: 45px;
  background: #f5f5f5;
  border-radius: 50px;
  border: none;
}

.input-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  font-size: 18px;
}

.forgot {
  color: #2db36b;
  font-size: 13px;
  text-decoration: none;
}

/* BUTTONS */
.auth-btn {
  width: 100%;
  height: 48px;
  border-radius: 50px;
  background: #2db36b;
  border: none;
  color: white;
  font-weight: 600;
}

.auth-outline-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 12px;
  border-radius: 50px;
  border: 2px solid #2db36b;
  font-weight: 600;
  color: #2db36b;
  text-decoration: none;
}

.auth-outline-btn:hover {
  background: #2db36b;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .auth-box {
    flex-direction: column;
  }
  .auth-left {
    border-radius: 0 0 200px 200px;
  }
}
